.commity_outermain{
	width:100%;
	height: 1275px;
	background: #dcdddd;
}

.commity_main{
	width: 1200px;
	height: 1275px;
	background: #fff;
	margin: auto;
	position: relative;
}

.commity_list{
	width: 185px;
	height: 1225px;
	border-right: 2px solid #dcdddd;
	padding-top: 50px;
	padding-left: 15px;
	background: #f7f8f8;
	float: left;
}

.commity_list>li{
	width: 165px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	border-top: 1px solid #dcdddd;
	color: #595757;
	cursor: pointer;
}

.commity_list>li:hover{
	color:deepskyblue
}

.commity_detail{
	width: 893px;
	height: 1225px;
	float: left;
	margin-left: 63px;
	padding-top: 70px;
}

.commity_detail>h3{
	text-align: center;
}

.commity_bar{
	width: 100%;
	height: 3px;
	margin-top: 42px;
}

.commity_bar>div{
	width: 50%;
	height: 3px;
	float: left;
}
.commity_bar>div:first-child{
	background: #ff8a00;
}

.commity_bar>div:last-child{
	background: #0082e9;
}

.commity_detail>h4{
	margin-top: 60px;
}
.commity_detail>p{
	margin-top: 50px;
	font-size: 14px;
	color:#7c7a7a;
}
.commity_detail>p:hover{
	color:red;
}

.commity_img{
	width: 998px;
	height: 448px;
	background:url(../img/class.png) ;
	background-position: 0 -100px;
	position: absolute;
	bottom: 0;
	right: 0;
}
