.inp{width: 350px;margin-left: 246px;margin-top: 38px;}
.inp1{width: 248px;float: right;padding-left: 10px;}
input{height: 32px;background: #ddd;}
.inp2{margin-left: 25px;padding-left: 10px;width: 140px;}
.inp3{width: 350px;background: dodgerblue;border:none;border-radius:8px;cursor: pointer;}
#img{width: 95px;height: 34px;margin-left: 10px;vertical-align:middle;}
.page p{margin-left: 90px;display: none;color: red;}
#btn{z-index: 9999999999;}
