.biaodan{width:1257px;height: 649px;margin: auto;background: #fff; border: 1px solid #fff;}
.copyright1{width: 100%;height: 43px;background: #999;text-align: center;line-height: 43px;color: #fff;}
.input1{width: 199px;height: 32px;margin-left: 12px;padding-left: 10px;}
form{margin-top: 71px;margin-left: 141px;}
.tex{margin-left: 44px;}
.input2{width: 858px;height: 32px;margin-left: 60px;padding-left: 10px;}
.input3{margin-left: 28px;}
.input4{width: 868px;height: 321px;margin-left: 28px;}
.biaodan4{height: 321px;width:980px;}
.biaodan4_1{float: left;}
.biaodan4_2{float: left;}
.biaodan5{width:980px;}
.input5{width: 200px;height: 32px;margin-left: 45px;padding-left: 10px;}
.biaodan5 img{vertical-align:middle;margin-left: 20px;}
.input6{width: 134px;height: 46px;background: dodgerblue;border: none;border-radius: 8px;float: right;color: #fff;}
.biaodan1,.biaodan2,.biaodan3,.biaodan4,.biaodan5{margin-top: 20px;}
input,textarea{background: #ddd;}
