.calculation_shadow{
	width: 16rem;
	height: 0.75rem;
	margin: auto;
	background: #f0f0f0;
	margin-top: 2.2rem;
}
.calculation_top{
	border-top:1px solid #F2473D;
	width: 16rem;
	height: 3.375rem;
	margin: auto;
	background: #F2473D;
}
.calculation_top p{
	color: #fff;
	margin-left: 0.5rem;
}
.number{
	width: 16rem;
	height:6.9rem ;
	margin-top: 0.75rem;
	background: #fff;
}
.number_top{
	width: 16rem;
	height:3.45rem ;
	border-bottom: 1px solid #ddd;
	border-top:1px solid #fff;
}
.number_top p{
	margin-left: 0.525rem;
	font-size: 0.6rem;
	
}
.number_footer{
	width: 16rem;
	height: 11.025rem;
	margin: auto;
	background: #fff;
	margin-top: 0.75rem;
}
.number_footer_top{
	width: 16rem;
	height: 1.25rem;
	border-bottom: 1px solid #ddd;
	line-height: 1.25rem;
}
.number_footer_top p{
	font-size: 0.55rem;
}
.number_footer_bottom{
	width: 15.7rem;
	height: 7.875rem;
	float: right;
}
.number_footer_bottom ul li{
	width: 100%;
	height:0.85rem;
	
	border-bottom: 1px solid #ddd;
}
.time{
	font-size: 0.45rem;
	float: left;
}
.time span{
	color: #F2473D;
}
.yun{
	font-size: 0.45rem;
	float: right;
	margin-right: 0.25rem;
}
