.code_top{
	height: 2.2rem;
	width: 16rem;
	margin: auto;
	margin-top: 2.2rem;
	background: #fff;
	border-bottom: 1px solid #ddd;
}
.code_top p{
	margin-left: 0.5rem;
	font-size: 0.75rem;
	line-height: 2.2rem;
}
.code_head{
	border-top: 1px solid #fff;
	width: 16rem;
	height: 14.85rem;
	margin: auto;
	background: #fff;
	font-size: 0.6rem;
}
.code_head_1>li{
	float: left;	
	width: 3.925rem;
	text-align: center;
	
}
.code_head p{
	margin-left: 0.525rem;
	margin-top: 0.725rem;
}
.code_head_1 li{
	margin-top: 0.25rem;
}
.code_Xian{
	width: 16rem;
	margin: auto;
	background: #fff;
}
.code_xian{
	margin: auto;
	width: 15.7rem;
	height: 1.5rem;
	margin: auto;
	border-top:1px solid #ddd;
	text-align: center;
	line-height:1.5rem;
	
	font-size: 0.6rem;
}
.code_xian a{
	color: #1E90FF;
}
