.martop_1{
	width: 16rem;
	height: 7.05rem;
	margin: auto;
	margin-top: 2.2rem;
	background: url(../img/未标题-7.png) no-repeat;
	background-size: 100%;
	position: relative;
}
.commission_text{
	width: 16rem;
	height: 19.1rem;
	margin: auto;
}
input{
	width: 15rem;
	height: 2rem;
	margin-left: 0.5rem;
	margin-top: 1.125rem;
	border: none;
	background: #F2473D;
	color: #fff;
}
.p1{
	margin-top: 0.55rem;
	margin-left: 1.475rem;
	font-size: 0.5rem;
}
.p2{
	margin-left: 2.575rem;
	margin-top: 0.475rem;
	font-size: 0.5rem;
	color: #888;
}
.nav_top{
	
}
.share{
	position: absolute;
	top: 0;
	left: 0;
	width: 16rem;
	height: 28.4rem;
	background: rgba(72,50,18,0.5);
	display: none;
}
.share_bottom{
	width: 16rem;
	height: 15.175rem;
	background: #e0dfdf;
	position: absolute;
	bottom: 0;
	left: 0;
}
.share_bottom ul li{
	width: 4rem;
	float: left;	
	text-align: center;
	font-size: 0.5rem;
}
.share_bottom ul li img{
	width: 1.8rem;
	height: 1.8rem;
	margin-top: 1.45rem;
}
.share_bottom_bottom{
	width: 16rem;
	height: 2.475rem;
	background: #fff;
	text-align: center;
	line-height: 2.475rem;
	font-size: 0.85rem;
	position: absolute;
	bottom: 0;
}
.download_img{
	width: 16rem;
	margin-top: 2.2rem;
	height: 26.2rem;
	background: url(../img/未标题-13.png);
	background-size: 100%;
	position: relative;
}
.xiazai{
	width: 11.75rem;
	height: 2.125rem;
	position: absolute;
	bottom: 3.7rem;
	left: 2.15rem;
	border: none;
	background: #feee96;
	color: #F2473D;
}
