* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	box-sizing: border-box;
}
a{text-decoration: none;}
ul li {
	list-style: none;
}

.wrop {
	width: 16rem;
	height: auto;
	background: rgb(240, 240, 240);
	margin: auto;
}

.nav_top {
	width: 16rem;
	max-width: 640px !important;
	background: #f2473d;
	margin: auto;
	position: fixed;	
	top: 0;	
	left: 0; 
	right: 0;
	
}
.nav_top_1{
	width: 16rem;
	height: 2.2rem;	
	margin: auto;
	line-height: 2.2rem;
	border-bottom: 1px solid #F2473D;
}
.nav_top img {
	height: 0.7rem;
	margin-top: 0.65rem;
	margin-left: 0.5rem;
	width: 0.55rem;
	float: left;
	width:0.525rem ;
	height: 0.95rem;
}
.nav_top p {
	/*width: 15.45rem;*/
	text-align: center;
	color: #fff;
	font-size: 0.9rem;
}

.martop {
	width: 100%;
	height: 11.225rem;
	margin: auto;
	margin-top: 2.2rem;
	background: #fff;
	border-top: 1px solid #fff;
	max-width: 640px !important;
}

.martop_img {
	width: 7.575rem;
	height: 7.575rem;
	margin: auto;
	margin-top: 0.4rem;
	overflow: hidden;
}

.martop_img ul li {
	float: left;
}

.martop_img img {
	width: 7.575rem;
	height: 7.575rem;
}

.dian {
	width: 3rem;
	height: 0.925rem;
	margin: auto;
}

.dian ul li {
	float: left;
	width: 0.25rem;
	height: 0.25rem;
	border-radius: 0.125rem;
	background: #ddd;
	margin-left: 0.375rem;
}

.martop_left {
	float: left;
	width: 2.2rem;
	height: 0.9rem;
	background: rgb(242, 71, 61);
	text-align: center;
	line-height: 0.9rem;
	color: #fff;
	font-size: 0.6rem;
	border-radius: 0.2rem;
	margin-left: 0.675rem;
}

.martop_text {
	width: 16rem;
	height: 3rem;
}

.martop_right {
	font-size: 0.6rem;
	margin-left: 3.275rem;
}

.prize {
	width: 100%;
	height: 4.75rem;
	margin: auto;
	border-bottom: 1px solid #ddd;
	background: #fff;
	max-width: 640px !important;
	margin-top: 0.75rem;
}

.prize_tiao1 {
	width: 90%;
	height: 0.225rem;
	margin: auto;
	background: #ddd;
	border-radius: 0.225rem;
	margin-top: 0.425rem;
}

.prize_tiao2 {
	width: 86%;
	height: 0.225rem;
	background: red;
	border-radius: 0.225rem;
}

.prize p {
	margin-left: 0.5rem;
	margin-top: 0.425rem;
	font-size: 0.6rem;
}

.prize span {
	color: dodgerblue;
}

.commodity {
	width: 100%;
	height: 4.4rem;
	margin: auto;
	border-top: 1px solid #ddd;
	background: #fff;
	max-width: 640px !important;
	margin-top: 0.75rem;
}

.commodity_top {
	width: 96.875%;
	height: 2.2rem;
	float: right;
	line-height: 2.2rem;
	font-size: 0.75rem;
	color: #838383;
}

.commodity_top a {
	display: block;
	float: right;
	margin-right: 0.5rem;
}

.commodity_top a img {
	width: 0.3rem;
	height: 0.6rem;
}

.record {
	width: 100%;
	height: 13.25rem;
	margin: auto;
	border: 1px solid #ddd;
	background: #fff;
	max-width: 640px !important;
	margin-top: 0.75rem;
}

.record_top {
	width: 100%;
	height: 2.175rem;
	border-bottom: 1px solid #ddd;
	line-height: 2.175rem;
}

.record_top p {
	font-size: 0.75rem;
	margin-left: 0.5rem;
}

.record_right {
	width: 96.875%;
	height: 2.7rem;
	float: right;
	line-height: 2.2rem;
	font-size: 0.75rem;
	color: #838383;
	border-bottom: 1px solid #ddd;
}

.record_right p {
	font-size: 0.5rem;
	height: 1rem;
}

.record_right p span {
	color: #1E90FF;
}

.Shopping {
	width: 16rem;
	height: 2rem;
	margin: auto;
	border: 1px solid #ddd;
	background: #fff;
	max-width: 640px !important;
	margin-top: 0.75rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.wei{
	width: 16rem;
	height: 2rem;
	margin: auto;
	max-width: 640px !important;
}
.Shopping_left {
	width: 4.7rem;
	height: 2rem;
	float: right;
	background: red;
	text-align: center;
	line-height: 2rem;
}
.Shopping_left a{
	color: #fff;
	font-size: 0.7rem;
}
.prize2{
	width: 100%;
	height: 7.475rem;
	margin: auto;
	border-top: 1px solid #ddd;
	background: #fff;
	max-width: 640px !important;
	margin-top: 0.75rem;
}
.prize2_tiao1{
	width: 16rem;
	height: 3.4rem;
	border-bottom: 1px solid #ddd;
}
.prize2_tiao2{
	width: 16rem;
	height: 4.075rem;
}
.prize2_tiao2 p{
	margin-left: 1.225rem;
	font-size: 0.5rem;
	
}
.prize2_img{
	width: 2.25rem;
	height: 2.25rem;
	border-radius: 1.125rem;
	margin-left: 0.5rem;
	margin-top: 0.75rem;
	background: url(../img/5.png);
	background-size: 150%;
	float: left;
}
.prize2_text{
	float: left;
	margin-top: 0.825rem;
	margin-left:0.75rem ;
	color: #1E90FF;
	
}
.prize2_img1{
	float: right;
	width: 1.925rem;
	margin-top: 0.625rem;
	margin-right: 0.55rem;
}
.xinyun{
	height: 2.2rem;
	width: 100%;
	margin: auto;
	max-width: 640px !important;
	line-height: 2.2rem;
}
.xinyun p{
	float: left;
	font-size: 0.7rem;
	margin-left: 0.775rem;
}
.xinyun_yun{
	width: 2.875rem;
	height: 1.125rem;
	border-radius: 0.2rem;
	background: #F2473D;
	float: right;
	font-size: 0.6rem;
	line-height:1.125rem ;
	color: #fff;
	text-align: center;
	margin-top: 0.75rem;
	margin-right: 0.825rem;
}
.Winning{
	height: 8.525rem;
	width: 100%;
	margin: auto;
	max-width: 640px !important;
     background: #fff;
}
.Shopping {
	line-height: 2rem;
}
.Shopping span{
	font-size: 0.7rem;
	margin-left: 0.825rem;
}
.Winning_1{
	height: 1.775rem;
	width: 16rem;
	border-bottom: 1px solid #ddd;
	line-height: 1.775rem;
	
}
.Winning_1 p{
	font-size: 0.6rem;
	margin-left: 0.8rem;
}
.Winning_2{
	height: 2.575rem;
	width: 16rem;
	border-bottom: 1px solid #ddd;
}
.Winning_2 p{
	font-size: 0.5rem;
	margin-left:0.8rem;
	margin-top: 0.05rem;
}
.Winning_2 ul{
	margin-top: 0.5rem;
}
.Winning_2 ul li{
	float: left;
	margin-left:0.8rem ;
	width: 4.5rem;
	font-size: 0.6rem;
}
.Winning_3{
	height: 1.65rem;
	width: 16rem;
	font-size: 0.7rem;
	text-align: center;
	line-height: 1.65rem;
}
.calculation_shadow{
	width: 16rem;
	height: 0.75rem;
	margin: auto;
	background: #f0f0f0;
	margin-top: 2.2rem;
}
.calculation_top{
	border-top:1px solid #F2473D;
	width: 16rem;
	height: 3.375rem;
	margin: auto;
	background: #F2473D;
}
.calculation_top p{
	color: #fff;
	margin-left: 0.5rem;
}
.number{
	width: 16rem;
	height:6.9rem ;
	margin-top: 0.75rem;
	background: #fff;
}
.number_top{
	width: 16rem;
	height:3.45rem ;
	border-bottom: 1px solid #ddd;
	border-top:1px solid #fff;
}
.number_top p{
	margin-left: 0.525rem;
	font-size: 0.6rem;
	
}
.number_footer{
	width: 16rem;
	height: 11.025rem;
	margin: auto;
	background: #fff;
	margin-top: 0.75rem;
}
.number_footer_top{
	width: 16rem;
	height: 1.25rem;
	border-bottom: 1px solid #ddd;
	line-height: 1.25rem;
}
.number_footer_top p{
	font-size: 0.55rem;
}
.number_footer_bottom{
	width: 15.7rem;
	height: 7.875rem;
	float: right;
}
.number_footer_bottom ul li{
	width: 100%;
	height:0.85rem;
	
	border-bottom: 1px solid #ddd;
}
.time{
	font-size: 0.45rem;
	float: left;
}
.time span{
	color: #F2473D;
}
.yun{
	font-size: 0.45rem;
	float: right;
	margin-right: 0.25rem;
}
.code_top{
	height: 2.2rem;
	width: 16rem;
	margin: auto;
	margin-top: 2.2rem;
	background: #fff;
	border-bottom: 1px solid #ddd;
}
.code_top p{
	margin-left: 0.5rem;
	font-size: 0.75rem;
	line-height: 2.2rem;
}
.code_head{
	border-top: 1px solid #fff;
	width: 16rem;
	height: 14.85rem;
	margin: auto;
	background: #fff;
	font-size: 0.6rem;
}
.code_head_1>li{
	float: left;	
	width: 3.925rem;
	text-align: center;
	
}
.code_head p{
	margin-left: 0.525rem;
	margin-top: 0.725rem;
}
.code_head_1 li{
	margin-top: 0.25rem;
}
.code_Xian{
	width: 16rem;
	margin: auto;
	background: #fff;
}
.code_xian{
	margin: auto;
	width: 15.7rem;
	height: 1.5rem;
	margin: auto;
	border-top:1px solid #ddd;
	text-align: center;
	line-height:1.5rem;
	
	font-size: 0.6rem;
}
.code_xian a{
	color: #1E90FF;
}
.martop_1{
	width: 16rem;
	height: 7.05rem;
	margin: auto;
	margin-top: 2.2rem;
	background: url(../img/未标题-7.png) no-repeat;
	background-size: 100%;
	position: relative;
}
.commission_text{
	width: 16rem;
	height: 19.1rem;
	margin: auto;
}
input{
	width: 15rem;
	height: 2rem;
	margin-left: 0.5rem;
	margin-top: 1.125rem;
	border: none;
	background: #F2473D;
	color: #fff;
}
.p1{
	margin-top: 0.55rem;
	margin-left: 1.475rem;
	font-size: 0.5rem;
}
.p2{
	margin-left: 2.575rem;
	margin-top: 0.475rem;
	font-size: 0.5rem;
	color: #888;
}
.nav_top{
	
}
.share{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 16rem;
	height: 28.4rem;
	background: rgba(72,50,18,0.5);
	display: none;
}
.share1{
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 16rem;
	height: 28.4rem;
	background: rgba(72,50,18,0.5);
	display: none;
}
.share1_bottom{
	width: 16rem;
	height: 6.675rem;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
}
.share1_bottom_top_1{
	width: 5rem;
	height:1.25rem;
	border: 1px solid #ddd;
	margin: auto;
	margin-top: 0.5rem;
}
.share1_bottom_top_1 ul li{
	float: left;
}
.kuang1{
	width: 1.25rem;
	height: 1.19rem;
	text-align: center;
	line-height: 1.25rem;
	background: #fafafa;
}
.kuang{
	width: 2.4rem;
	height: 1.25rem;
	text-align: center;
	line-height: 1.25rem;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	font-size: 0.6rem;
}
.share1_bottom_top{
	width: 16rem;
	height: 4.675rem;
	border-top:1px solid #fff;
	position: relative;
}
.cha{
	width: 0.875rem;
	height:0.875rem;
	border:1px solid #DDDDDD;
	border-radius: 0.4375rem;
	text-align: center;
	line-height: 0.7rem;
	font-size: 0.6rem;
	color: #ddd;
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	z-index: 99999999;
}
.share1_bottom_top p{
	text-align: center;
	margin-top: 1.2rem;
	font-size: 0.6rem;
}
.share1_bottom_bottom{
	width: 16rem;
	height: 2rem;
	background: #F2473D;
	text-align: center;
	line-height: 2rem;
	color: #fff;
	font-size: 0.75rem;
}
.share_bottom{
	width: 16rem;
	height: 15.175rem;
	background: #e0dfdf;
	position: absolute;
	bottom: 0;
	left: 0;
}
.share_bottom ul li{
	width: 4rem;
	float: left;	
	text-align: center;
	font-size: 0.5rem;
}
.share_bottom ul li img{
	width: 1.8rem;
	height: 1.8rem;
	margin-top: 1.45rem;
}
.share_bottom_bottom{
	width: 16rem;
	height: 2.475rem;
	background: #fff;
	text-align: center;
	line-height: 2.475rem;
	font-size: 0.85rem;
	position: absolute;
	bottom: 0;
}
.download_img{
	width: 16rem;
	margin-top: 2.2rem;
	height: 26.2rem;
	background: url(../img/未标题-13.png);
	background-size: 100%;
	position: relative;
}
.xiazai{
	width: 11.75rem;
	height: 2.125rem;
	position: absolute;
	bottom: 3.7rem;
	left: 2.15rem;
	border: none;
	background: #feee96;
	color: #F2473D;
}
.prize1 {
	width: 100%;
	height: 4.175rem;
	margin: auto;
	border-bottom: 1px solid #ddd;
	background: #fff;
	max-width: 640px !important;
	margin-top: 0.75rem;
}

.prize1_tiao1 {
	width: 100%;
	height: 2.625rem;
    border-bottom: 1px solid #ddd;   
}
.prize1_tiao1 img{
	width: 0.6rem;
}
.prize1_tiao1 p{
	float: left;
	line-height: 2.025rem;
	color: #F2473D;
}
.prize1_tiao2 {
	width: 100%;
	height: 1.525rem;
	line-height: 1.525rem;
	font-size: 0.6rem;
	color: #838383;
}

.prize1 p {
	margin-left: 0.5rem;
	margin-top: 0.425rem;
	font-size: 0.6rem;
}

.prize1 span {
	color: dodgerblue;
}
.Shopping {
	line-height: 2rem;
}
.Shopping span{
	font-size: 0.7rem;
	margin-left: 0.825rem;
}
.others_id{
	width: 16rem;
	height: 4rem;
	margin-top: 2.2rem;
	border-top: 1px solid #F2473D;
	background: #fff;
	
}
.oters_img{
	width: 2.55rem;
	height: 2.55rem;
	border-radius: 1.275rem;
	background: url(../img/5.png);
	background-size: 160%;
	margin-top: 0.75rem;
	margin-left: 0.75rem;
	float: left;
}
.others_id p{
	margin-left: 4rem;
	margin-top: 0.5rem;
}
.others_zhong{
	width: 16rem;
	height: 2rem;
	margin-top: 0.75rem;
	background: #fff;	
}
.others_zhong ul li{
	width: 50%;
	height: 2.2rem;
	float: left;
	text-align: center;
	line-height: 2.2rem;
	font-size: 0.75rem;
	
	
}
.others_zhong ul li a{
	display: block;
	height: 2rem;
	width: 3.125rem;
	margin-left: 2.55rem;
}
.number_1{
	width: 100%;
	height: 6rem;
	background: #fff;
	border-top: 1px solid #ddd;
	
}
.number_1_left{
	width: 2.8rem;
	height: 4.45rem;
	background: #e2e2e2;
	margin-top: 0.75rem;
	margin-left: 0.5rem;
	float: left;
}
.number_1_left img{
	width: 2.1rem;
	height: 3.15rem;
	margin-top: 0.625rem;
	margin-left: 0.2rem;
}
.number_1_right{
	width: 11.75rem;
	height: 4.45rem;
	background: #e2e2e2;
	margin-top: 0.75rem;
	margin-left: 0.5rem;
	float: left;
}
.number_1_right_left{
	width: 8.55rem;
	height: 4.45rem;
	margin-left: 0.2rem;
	float: left;
}
.number_1_right_xian{
	width: 7.5rem;
	height: 0.25rem;
	background: #f0f0f0;
	border-radius: 0.125rem;
	margin-top:0.5rem ;
}
.number_1_right_xian_li{
	width: 78%;
	height: 0.25rem;
	background: #F2473D;
	border-radius: 0.125rem;
}
.number_1_right_right{
	width: 3rem;
	height: 4.45rem;
	float: left;
}
.zhuijia{
	width: 2.875rem;
	height: 1.125rem;
	text-align: center;
	line-height: 1.125rem;
	color: #FFFFFF;
	font-size: 0.6rem;
	background: #F2473D;
	border-radius: 0.15rem;
	margin-top: 1.25rem;
	float: right;
}
.number_2{
	width: 100%;
	height: 5.9rem;
	margin-top: 0.75rem;
	background: #fff9ed;
	position: relative;
}
.number_2 p{
	font-size: 0.55rem;
	line-height: 0.55rem;
	color: #666;
}
.number_p{
	margin-top: 0.4rem;
}
.number_2_img{
	width: 2.25rem;
	position: absolute;
	left: 13rem;
	top: 0.3rem;
}
.number_time{
	position: absolute;
	top:3rem;
	left: 8.2rem;
	font-size: 1.625rem;
	color:#F2473D ;
}
.number1{
	width: 100%;
	height: 19.4rem;
	
}
.number_3{
	width: 100%;
	height: 6.7rem;
	border-top:1px solid #ddd;
	background: #fff;
}
.number3_top{
	width: 100%;
	height: 19.4rem;
	display: none;
}
.number_p1{
	margin-top: 0.35rem;
	font-size: 0.5rem;
	line-height: 0.5rem;
}
.bottom_p{
	text-align: center;
	line-height: 0.6rem;
	font-size: 0.6rem;
	margin-top: 0.75rem;
}
.past_top{
	width: 16rem;
	height:6.625rem ;
	margin: auto;
	background: #e0e0e0;
	
}
.past_shadow{
	width: 16rem;
	height: 0.25rem;
	background: #f0f0f0;
}
.past_text{
	width: 16rem;
	height:1.25rem ;
	line-height: 1.25rem;
}
.past_text p{
	font-size: 0.55rem;
	margin-left: 0.5rem;
}
.past_img{
	height: 5.125rem;
	width: 16rem;
	background: #fff;
	border-top: 1px solid #fff;
}
.past_img img{
	display: block;
	width: 2rem;
	height: 2rem;
	margin-left: 0.5rem;
	margin-top: 0.525rem;
}
.past_img1{
	width:3rem ;
	height: 5.125rem;
	float: left;
}
.past_img_text{
	font-size: 0.55rem;	
	margin-top: 0.525rem;
}
