.others_id{
	width: 16rem;
	height: 4rem;
	margin-top: 2.2rem;
	border-top: 1px solid #F2473D;
	background: #fff;
	
}
.oters_img{
	width: 2.55rem;
	height: 2.55rem;
	border-radius: 1.275rem;
	background: url(../img/5.png);
	background-size: 160%;
	margin-top: 0.75rem;
	margin-left: 0.75rem;
	float: left;
}
.others_id p{
	margin-left: 4rem;
	margin-top: 0.5rem;
}
.others_zhong{
	width: 16rem;
	height: 2rem;
	margin-top: 0.75rem;
	background: #fff;	
}
.others_zhong ul li{
	width: 50%;
	height: 2.2rem;
	float: left;
	text-align: center;
	line-height: 2.2rem;
	font-size: 0.75rem;
	
	
}
.others_zhong ul li a{
	display: block;
	height: 2rem;
	width: 3.125rem;
	margin-left: 2.55rem;
}
.number_1{
	width: 100%;
	height: 6rem;
	background: #fff;
	border-top: 1px solid #ddd;
	
}
.number_1_left{
	width: 2.8rem;
	height: 4.45rem;
	background: #e2e2e2;
	margin-top: 0.75rem;
	margin-left: 0.5rem;
	float: left;
}
.number_1_left img{
	width: 2.1rem;
	height: 3.15rem;
	margin-top: 0.625rem;
	margin-left: 0.2rem;
}
.number_1_right{
	width: 11.75rem;
	height: 4.45rem;
	background: #e2e2e2;
	margin-top: 0.75rem;
	margin-left: 0.5rem;
	float: left;
}
.number_1_right_left{
	width: 8.55rem;
	height: 4.45rem;
	margin-left: 0.2rem;
	float: left;
}
.number_1_right_xian{
	width: 7.5rem;
	height: 0.25rem;
	background: #f0f0f0;
	border-radius: 0.125rem;
	margin-top:0.5rem ;
}
.number_1_right_xian_li{
	width: 78%;
	height: 0.25rem;
	background: #F2473D;
	border-radius: 0.125rem;
}
.number_1_right_right{
	width: 3rem;
	height: 4.45rem;
	float: left;
}
.zhuijia{
	width: 2.875rem;
	height: 1.125rem;
	text-align: center;
	line-height: 1.125rem;
	color: #FFFFFF;
	font-size: 0.6rem;
	background: #F2473D;
	border-radius: 0.15rem;
	margin-top: 1.25rem;
	float: right;
}
.number_2{
	width: 100%;
	height: 5.9rem;
	margin-top: 0.75rem;
	background: #fff9ed;
	position: relative;
}
.number_2 p{
	font-size: 0.55rem;
	line-height: 0.55rem;
	color: #666;
}
.number_p{
	margin-top: 0.4rem;
}
.number_2_img{
	width: 2.25rem;
	position: absolute;
	left: 13rem;
	top: 0.3rem;
}
.number_time{
	position: absolute;
	top:3rem;
	left: 8.2rem;
	font-size: 1.625rem;
	color:#F2473D ;
}
.number1{
	width: 100%;
	height: 19.4rem;
	
}
.number_3{
	width: 100%;
	height: 6.7rem;
	border-top:1px solid #ddd;
	background: #fff;
}
.number3_top{
	width: 100%;
	height: 19.4rem;
	display: none;
}
.number_p1{
	margin-top: 0.35rem;
	font-size: 0.5rem;
	line-height: 0.5rem;
}
.bottom_p{
	text-align: center;
	line-height: 0.6rem;
	font-size: 0.6rem;
	margin-top: 0.75rem;
}
