.past_top{
	width: 16rem;
	height:6.625rem ;
	margin: auto;
	background: #e0e0e0;
	
}
.past_shadow{
	width: 16rem;
	height: 0.25rem;
	background: #f0f0f0;
}
.past_text{
	width: 16rem;
	height:1.25rem ;
	line-height: 1.25rem;
}
.past_text p{
	font-size: 0.55rem;
	margin-left: 0.5rem;
}
.past_img{
	height: 5.125rem;
	width: 16rem;
	background: #fff;
	border-top: 1px solid #fff;
}
.past_img img{
	display: block;
	width: 2rem;
	height: 2rem;
	margin-left: 0.5rem;
	margin-top: 0.525rem;
}
.past_img1{
	width:3rem ;
	height: 5.125rem;
	float: left;
}
.past_img_text{
	font-size: 0.55rem;	
	margin-top: 0.525rem;
}
