*{margin: 0;padding: 0;color: #CDB38B}
a{text-decoration: none;color: #f90;}
ul li{list-style-type: none;float: left;width: 15%;height: 150px;text-align:center;line-height: 150px;color: #f90;}
#nav{width: 100%;height: 160px;background: url(../img/bg-header.jpg);}
#img1{float: left;width: 25%}
#Head{width: 100%;height: auto;background:	#FFEBCD;}
#partook img{margin-left:6%;width: 15%;}
#partook p{margin-top: 40px;font-weight: bold;}
#Bottom{width: 100%;height: 160px;background: url(../img/bg-header.png);border:1px solid #fff;}
@media all and (min-width:415px){
#nav_1{width: 60%;height: 140px;margin: auto;}
#head{width: 60%;height: 100%;margin: auto;}
#img2{text-align: center;display: block;margin:0 auto;width: 90%;}
#word{width: 60%;height: 100%;margin: auto;text-indent: 2em;text-align: center;margin-top: 20px;}
#picture{width:60%;height: 380px;margin:auto;}
.pic{width: 28%;height: 270px;float: left;margin-left: 4%;margin-top: 50px;text-align: center;}
.pic img{width: 100%}
#partook{width: 20%;height: 130px;margin:auto;margin-top: 30px;text-align: center;color: #EE9572;}
}
@media all and (max-width:414px){
#nav_1{width: 90%;height: 140px;margin: auto;}
#head{width: 100%;height: 100%;margin: auto;}
#img2{text-align: center;display: block;margin:0 auto;width: 100%;}
#word{width: 100%;height: 100%;margin: auto;text-indent: 2em;text-align: center;margin-top: 20px;}
#picture{width:100%;height: auto;margin:auto;}
.pic{width: 100%;height: 270px;margin-top: 50px;text-align: center;}
.pic img{width: 80%}
#partook{width: 60%;height: 130px;margin:auto;margin-top: 30px;text-align: center;color: #EE9572;}
}
